@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.containerHome {
  display: flex;
  flex-direction: row;
}

.fantImage {
  height: 18vh;
  margin-top: 262%;
  margin-left: -140%;
  animation: myAnim 2s linear 0s infinite normal forwards;
}
