@font-face {
    font-family: "Bebas-Regular";
    src: url('/src/assets/Bebas-Regular.ttf');
}

@font-face {
    font-family: "PurpleQueen";
    src: url('/src/assets/PurpleQueen.ttf');
}

.containerPosts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 75vh;
    width: 53vw;
    overflow-y: scroll;
    margin-top: 4%;
}

*::-webkit-scrollbar {
    display: none;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.containerRight {
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: 80%;
    overflow-y: scroll;
}

.uniquePostOne, .uniquePostTwo, .uniquePostThree, .uniquePostFour, .uniquePostFive, .uniquePostSix {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    gap: 3%;
    width: 90%;
    height: 40%;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(31, 30, 30, 0.548);
    color: #D3D3D3;
    filter: drop-shadow(5px 5px 10px #000);
}

.pictures {
    height: 22vh;
    width: 17vw;
    border-radius: 8px;
}

.title {
    font-family: 'PurpleQueen', sans-serif;
    font-size: 4vh;
}

.date {
    font-size: 2vh;
    font-family: 'PurpleQueen', sans-serif;
}

.paraPost {
    font-family: 'Bebas-Regular', sans-serif;

}

.arrow {
    color: #de82f3;
    font-size: 3vh;
    margin-top: 28%;
}