@font-face {
    font-family: "Bebas-Regular";
    src: url('/src/assets/Bebas-Regular.ttf');
}

.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    width: 25vw;
    overflow-y: scroll;
    margin-top: 4%;
    font-family: 'Bebas-Regular', sans
}

.feed {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    gap: 3%;
    width: 90%;
    height: 10%;
    padding: 3%;
    border-radius: 10px;
    background-color: rgba(31, 30, 30, 0.548);
    filter: drop-shadow(5px 5px 10px #000);
    color: #D3D3D3;
 
}





.feedTitle {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 0;
    margin-bottom: 0;
    justify-self: center;
    place-items: center;
}

.feedImg {
    grid-area: 1 / 1 / 2 / 2;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-top: 0;
    display: block;
}

.message {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
}