@font-face {
    font-family: "Bebas-Regular";
    src: url('/src/assets/Bebas-Regular.ttf');
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;

    font-family: 'Bebas-Regular';
    font-weight: bold;
    align-items: center;


}

.fritineLogo {
    height: 100px;
    width: 200px;
    padding-left: 20px;
}

.linkContainer {
    display: flex;
    align-self: flex-end;
    margin-right: 18%;
}


.navLinks {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17vw;
    padding: 0;
    justify-content: space-between;
    font-size: 30px;
}

.navLinks:hover {
    cursor: pointer;
    color: #9364d4;
    transition: color 0.2s ease-out;
}



a, ul, li {
    text-decoration: none;
    list-style-type: none;
    color: white;
}




